.TransactionItem {
    display: flex;
    flex-direction: column;
    width: 45%;
    border: solid;
    border-color: black;
    margin: 2px;
}

.userSelect {
    display: flex;
    justify-content: center;
}