.TransactionItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: solid 1px #13097C;
    margin: 2px;
    height: 5.5vmax;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    color: #13097C;
    transition: box-shadow .15s;
    position: relative;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}

.TransactionItem:hover {
    bottom: 4px;
    right: 4px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    height: 5.6vmax;
    width: 100.5%;
}

.TransactionItem>a {
    margin-right: 3.5vmin;
}

.TransactionItem>a>button:hover {
    background-color: #E24941;
}

.userSelect {
    display: flex;
    justify-content: center;
}

.address {
    margin: 0;
    font-size: 1.4vmax;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: white;
    z-index: 1;
    padding: 1rem;
    flex-grow: 1;
    line-height: 3.4vmin;
    letter-spacing: 1px;
}

.test {
    background-color: #13097C;
    height: 300%;
    width: 100%;
    position: absolute;
    right: 65%;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: .8;
}

.transaction-item-details-wrapper {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vmin;
    font-size: 1vmax;
    letter-spacing: 1px;
    opacity: .8;
    line-height: 4vmin;
}

.transaction-item-days-left-wrapper {
    display: flex;
    padding: 1vmin;
    justify-content: center;
    background-color: #E9EFFD;
    height: 100%;
    align-items: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

.transaction-item-days-left-number {
    color: #E24941;
    font-size: 1.4vmax;
    font-weight: bold;
    margin: 0px 2vmax;
    letter-spacing: 2px;
    line-height: 3vmin;
}

.transaction-item-task-count,
.transaction-item-message-count {
    background-color: #FE7062;
    border-radius: 40%;
    padding: 5px;
    font-weight: bold;
    color: white;
}

.transaction-item-main {
    display: flex;
    text-decoration: none;
    width: 78%;
}

.transaction-item-tasks,
.transaction-item-messages {
    font-size: .8vmax;
}