.form-container {
    margin-left: 4vmin;
    background-color: #EBEBEB;
    border: solid 1px;
    border-color: #13097C;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
}

.loginForm {
    margin: 5px;
    display: flex;
}

p.error-message {
    color: red;
    margin-left: 4vmin;
}

.login-submit:hover {
    background-color: #E24941;
}