.about-wrapper {
    flex-grow: 1;
    padding: 4vmax;
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 85%;
}

.about-title {
    font-size: 2.5vw;
    color: #13097C;
    font-family: 'Oswald', sans-serif;
    margin: 3vmax;
    display: block;
}

.about-title::after {
    content: '';
    width: 250%;
    height: 1vmax;
    display: block;
    background-color: #E9EFFD;
    border: solid 2px #13097C;
    position: relative;
    left: -75%;
    transform: skewX(-20deg)
}

.about-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper {
    margin-bottom: 2%;
    width: 100%;
    padding: 0 1vmax 0 1vmax;
}

.about-content {
    font-size: 1.2vmax;
    opacity: .8;
    font-family: Arial, Helvetica, sans-serif;
}