.header {
    display: flex;
    width: 100%;
    max-height: 8%;
    background-color: #13097C;
    z-index: 1;
    justify-content: space-between;
}

.header>a {
    text-decoration: none;
    display: flex;
}

.appName {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 30pt;
    padding: 0;
    margin: 7px 2vmax 0px 7px;
    color: #E9EFFD;
}

.material-symbols-outlined {
    font-size: 32pt;
    color: white;
    margin-left: 10px;
    margin-top: 7px;
    color: #E9EFFD;
}

.nav-links {
    color: white;
    display: flex;
    align-items: center;
    justify-self: flex-start;
    gap: 1vmax;
    font-family: 'Bebas Neue', cursive;
    margin-left: 2vmax;
    font-size: 1.4rem;
}

.nav-links>a {
    color: white;
}

.nav-links>p {
    color: #E9EFFD;
}