.footer {
    width: 100%;
    min-height: 7%;
    background-color: #13097C;
    z-index: 1;
}

.footerLinksWrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footerLinksWrapper>a {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}

.footerLinksWrapper>a {
    margin-right: 20px;
}