.footer {
    width: 100%;
    min-height: 7%;
    background-color: #13097C;
    z-index: 1;
}

.footerLinksWrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footerLinksWrapper>a {
    color: white;
}

.footerLinksWrapper>a:first-child {
    margin-right: 20px;
}