.signupForm {
    display: grid;
    grid-template-areas:
        'name-label name email-label email signup'
        'password-label password confirm-label confirm signup';
    flex-wrap: wrap;
    margin: 5px;
}

.name {
    grid-area: name;
}

.email {
    grid-area: email;
}

.password {
    grid-area: password;
}

.confirm {
    grid-area: confirm;
}

.signup {
    grid-area: signup;
}

.signup:hover {
    background-color: #E24941;
}