.viewsWrapper {
    display: flex;
    width: 100%;
    height: 58vh;
}

.viewsMenu {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    border: solid;
    border-width: 1px;
}

.menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: #71b1b3;
    border: solid;
    border-color: black;
    color: #f1faee;
    font-family: serif;
    font-size: 2em;
    transition: border-color .5s;
    transition: border-width .5s;
}

.menuItem:hover {
    border-color: white;
    border-width: 6px;
}

.selectionView {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 75%;
    border: solid;
    border-width: 1px;
}

.viewHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: #457b9d;
    border: solid;
    border-color: black;
    font-size: 1.7em;
    color: #f1faee;
    font-family: serif;
}

.menuHeader {
    display: flex;
    height: 10%;
    background-color: #457b9d;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: black;
    color: #f1faee;
    font-family: serif;
}

.menuItemWrapper {
    display: block;
    flex-direction: column;
    height: 90%;
    overflow: auto;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.viewFinder {
    display: block;
    height: 90%;
    overflow: auto;
}

.tnmBar {
    display: flex;
    width: 50%;
    height: 7vh;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: #1d3557;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.taskHQ {
    display: flex;
    width: 50%;
    border-right: solid;
    border-color: black;
    justify-content: space-around;
    align-items: baseline;
}

.messageHQ {
    display: flex;
    width: 50%;
    justify-content: center;
}

.escrowStatement {
    margin-bottom: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
}

.underAddress {
    width: 45%;
}

.taskItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid;
    border-color: black;
    padding: 7px;
    gap: 2px;
    transition: border-color 1s;
    transition: border-width 1s;
}

.taskItem:hover {
    border-color: #b1d4ea;
    border-width: 6px;
}

.taskHeader {
    display: flex;
    justify-content: space-between;
}

.taskTitle>h3,
p {
    display: flex;
    margin: 0;
}

.taskTitle {
    width: 75%;
}

.taskComplete {
    color: green;
}

.messageRight {
    display: block;
    text-align: right;
    margin: 1px;
}

.messageLeft {
    display: block;
    text-align: left;
    margin: 1px;
}

.messageForm {
    grid-template-columns: 99%;
}

textarea {
    margin-top: 7px;
    display: block;
    columns: 300;
    resize: none;
}

.numIncomplete {
    font-weight: bold;
    color: #e63946;
}

.contactsViewWrapper {
    display: flex;
    height: 100%;
}

.contactForm {
    border-right: solid;
    border-right-color: black;
    width: 50%;
    height: 100%;
    margin-left: 7px;
    margin-right: 7px;
    padding: 20px 10px 0px 10px;
}

.contactFormHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
    width: 50%;
    height: 3vh;
    /* background-color: #71b1b3; */
    background-color: #bacbcc;
    border-bottom: solid;
    border-bottom-color: #1d3557;
    border-bottom-width: 2px;
}

.contactFormHeader>h5 {
    margin: 0;
    /* color: #f1faee; */
    color: #1d3557;
    font-family: serif;
    letter-spacing: 1.5px;
    ;
}

.contactHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 10px auto;
    width: 50%;
    height: 3vh;
    color: #1d3557;
    background-color: #bacbcc;
    border-bottom: solid;
    border-bottom-color: #1d3557;
    border-bottom-width: 2px;
    font-family: serif;
    letter-spacing: 2px;
}

.addContactForm {
    margin-top: 10px;
    grid-template-columns: 1fr;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
}

.contactsView {
    min-width: 50%;
    flex-grow: 1;
    display: block;
    overflow: auto;
    padding: 0px 4px 0px 4px;
}

.errorMessage {
    display: block;
    text-align: center;
    color: red;
}

.newTransactionForm {
    margin-bottom: 40px;
}

.addNewTransactionButton {
    margin-bottom: 20px;
}

.transaction-detail-main {
    height: 100%;
    background-color: white;
}

.transaction-detail-header {
    height: 40%;
    display: flex;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.transaction-detail-header-address {
    width: 50%;
    font-size: 4.5vmax;
    color: #13097C;
    opacity: .75;
    font-weight: 900;
    line-height: 4.2vmax;
    letter-spacing: -1.5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.transaction-detail-header-address:first-child {
    margin-top: auto;
}

.transaction-detail-header-escrow {
    width: 15%;
    height: 85%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #13097C;
    line-height: 7.5vmin;
}

.transaction-detail-escrow-count {
    color: #E24941;
    font-weight: 700;
    font-size: 5vmax;
    margin: 0px;
}

.transaction-detail-escrow-words {
    opacity: .7;
    font-size: 14pt;
    letter-spacing: .3px;
    font-weight: bold;
}

.transaction-detail-header-escrow-spinner {
    width: 85%;
    height: 90%;
    background-color: transparent;
    border-radius: 49%;
    border-top: solid 1px white;
    border-right: solid 1px rgb(171, 163, 163);
    border-left: solid 1px rgb(171, 163, 163);
    border-bottom: solid 1px rgb(171, 163, 163);
    animation: rotate 15s infinite linear;
    position: absolute;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.transaction-detail-header-escrow-spinner::after {
    content: '';
    display: block;
    background-color: #E9EFFD;
    width: 3%;
    height: 3%;
    position: relative;
    border-radius: 50%;
    top: 3.6vmin;
    left: 3.5vmin;
    border: 1px solid rgb(227, 218, 218);
}

.transaction-detail-body {
    height: 60%;
    width: 100%;
    display: flex;
}

.transaction-detail-body-menu {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
}

.transaction-detail-body-view {
    width: 80%;
    height: 100%;
    /* background-color: red; */
}

.transaction-detail-body-menu-items {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid 1px rgb(227, 218, 218);
}

.transaction-detail-menu-tasks,
.transaction-detail-menu-contacts,
.transaction-detail-menu-documents,
.transaction-detail-menu-glossary {
    min-height: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-detail-menu-tasks>div>p,
.transaction-detail-menu-contacts>div>p,
.transaction-detail-menu-documents>div>p,
.transaction-detail-menu-glossary>div>p {
    color: #13097C;
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
    opacity: .7;
    letter-spacing: 1.5px;
}

.transaction-detail-menu-tasks>div>p:hover,
.transaction-detail-menu-contacts>div>p:hover,
.transaction-detail-menu-documents>div>p:hover,
.transaction-detail-menu-glossary>div>p:hover {
    font-weight: bold;
    cursor: pointer;
}

.focused {
    height: 30%;
    background-color: #E9EFFD;
    animation: expand .5s ease-out;
    font-weight: bold;
    z-index: 1;
    opacity: 1;
}

@keyframes expand {
    0% {
        height: 10%;
    }

    100% {
        height: 30%;
    }
}

.background-focused {
    height: 90%;
    width: 100%;
    background-color: white;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}