.viewsWrapper {
    display: flex;
    width: 95%;
    height: 70vh;
}

.viewsMenu {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    background-color: aquamarine;
    border: solid;
    border-color: black;
}

.selectionView {
    display: flex;
    background-color: white;
    width: 75%;
}

.viewHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: rgb(90, 228, 238);
    border: solid;
    border-color: black;
    font-size: 1.7em;
}

.menuHeader {
    display: flex;
    height: 10%;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: black;
}

.menuItemWrapper {
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow: scroll;
}