.viewsWrapper {
    display: flex;
    width: 95%;
    height: 50vh;
}

.viewsMenu {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    background-color: aquamarine;
    border: solid;
    border-color: black;
}

.selectionView {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 75%;
}

.viewHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: rgb(90, 228, 238);
    border: solid;
    border-color: black;
    font-size: 1.7em;
}

.menuHeader {
    display: flex;
    height: 10%;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: black;
}

.menuItemWrapper {
    display: block;
    flex-direction: column;
    height: 90%;
    overflow: auto;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.viewFinder {
    display: block;
    height: 90%;
}

.tnmBar {
    display: flex;
    width: 95%;
    height: 10vh;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.taskHQ {
    display: flex;
    width: 50%;
    border-right: solid;
    border-color: black;
    justify-content: space-around;
    align-items: baseline;
}

.messageHQ {
    display: flex;
    width: 50%;
    border-left: solid;
    border-color: black;
    justify-content: center;
}

.escrowCounter {
    margin-bottom: 15px;
}